.overlayContainerView {
  position: absolute;
  background-color: clear;
  height: 100%;
  width: 100%;
  background-position:  100px 200px;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modalView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 450px;
  height: 50%;
  width: 310px;
  background-color: white;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 25px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.userList {
  /* border: blue 1px solid; */
  width: 100%;
  height: 90%;
}

.userCell {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  /* border: red 1px solid */
}

.userProfileNameContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.userCircleImage {
  height: 40px;
  width: 4 0px;
  border-radius: 50%;
  display:inline-block;
  background-color: lightgray;
  margin-left: 20px;
}

.userName {
  margin-left: 20px;
  font-family: 'Inter';
  font-weight: 600;
}

.tabBarContainer {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  border-top: 0.5px solid lightgrey;
}

.tabBarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.tabBarTitle {
  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  color: gray;

}

.tabBarIcon {
  height: 30px;
  width: 30px;
}

.userCellMuteImage {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}